@import "tailwindcss";
@import "tw-animate-css";

:root {
  --primary: 240 5.9% 10%;
  --primary-foreground: 0 0% 98%;
}
.btn:hover {
  background-color: hsl(0, 0%, 51%);
  color: white;

  border-radius: 20%;
}

@theme inline {
  --font-instrument-sans: var(--font-instrument-sans), sans-serif;
  --font-instrument-serif: var(--font-instrument-serif), serif;
  --font-outfit: var(--font-outfit), sans-serif;
}
/* Resizable nav */
.nav-base:hover{
    transform: translateY(-0.125rem);
}
/* Expand background div on hover */
.contact-btn:hover .contact-btn-bg {
  width: 100%;
}

/* Move text slightly left on hover */
.contact-btn:hover .contact-btn-text {
  left: -0.75rem; /* Tailwind's -left-3 */
  color: black;
}

/* Optional: Add shadow + active effect */
.contact-btn:hover {
  box-shadow: 0 0 100px 1px #dcdcdc;
}

.contact-btn:active {
  transform: scale(0.95);
  box-shadow: 0 0 10px 5px rgba(168, 85, 247, 0.4);
}
